{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Join the Brotherhood</h3>
                </div>
                <div class="card-body">
                    <form method="post" id="registration-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#teaserModal">
                            Join the Brotherhood
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Teaser Modal -->
<div class="modal fade" id="teaserModal" tabindex="-1" aria-labelledby="teaserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teaserModalLabel">Teaser Questions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="teaser-form">
                    {% csrf_token %}
                    {{ teaser_form|crispy }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitForms()">Submit</button>
            </div>
        </div>
    </div>
</div>

<script>
function submitForms() {
    var registrationForm = document.getElementById('registration-form');
    var teaserForm = document.getElementById('teaser-form');
    var formData = new FormData(registrationForm);
    var teaserData = new FormData(teaserForm);
    for (var pair of teaserData.entries()) {
        formData.append(pair[0], pair[1]);
    }

    fetch(registrationForm.action, {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    }).then(response => {
        if (response.redirected) {
            window.location.href = response.url;
        } else {
            return response.text();
        }
    }).then(html => {
        if (html) {
            var newDoc = document.open("text/html", "replace");
            newDoc.write(html);
            newDoc.close();
        }
    });
}
</script>
{% endblock %}
